*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#f3f4f6;
  color:#111827;
}

.admin-header{
  background:#111827;
  color:white;
  padding:20px 30px;
}

.header-left{
  display:flex;
  align-items:center;
  gap:15px;
}

.admin-logo{
  width:60px;
}

.admin-container{
  padding:30px;
  display:grid;
  gap:25px;
}

.admin-card{
  background:white;
  padding:25px;
  border-radius:14px;
  box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.admin-card h2{
  margin-bottom:20px;
}

form{
  display:grid;
  gap:15px;
}

input,
select,
button{
  padding:12px;
  border-radius:10px;
  border:1px solid #d1d5db;
}

button{
  background:#111827;
  color:white;
  border:none;
  cursor:pointer;
  font-weight:bold;
}
